@font-face {
    font-family: 'FugazOne';
    src: url('/font/FugazOne-Regular.ttf');
}

@font-face {
    font-family: 'Sanchez';
    src: url('/font/Sanchez-Regular.ttf');
}

*{
    margin:0;
    padding: 0;
}

body{ 
    margin: 0;
    width: 100vw;
    height: 100vh;

    color: #FFFFFF;
    font-family: 'Sanchez';

    overflow: hidden;
}



#imgProfil{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: block;
    max-width: 110px;
    object-fit: contain;
    aspect-ratio: 110/108;
}



.special-text{
    color: #F2A83D;
    font-family: FugazOne;
}

/* les flexs */

.total{
    /* background-color: yellow; */

    height: 100%;
    display: flex;
    flex-direction: row;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}


.partierouge{
    /* background-color: red;  */
    width: 100%;

    position: relative;
}

.menu-div{
    /* rgb(216, 214, 214) */
    background-color: #2B2A2A ; 
    width: 13%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    position: relative;
    box-shadow: 2px 0 10px #2B2A2A;
    z-index: 1000;

    cursor: pointer;
}

.menu_click{
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
}

.menu_click:hover{
    transition: 0.3s;
    background-color: rgb(63, 60, 60);
}

    .menu-logo{
    position: absolute;
    bottom: 0;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.aLink{
    text-decoration: none;
    color: #FFFFFF;
}

.darktheme{
    text-align: center;
    padding: 15px ;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    
}

.logo > a:hover{
    transform: scale(1.2);
}

.logo > a{
    transition: 0.3s; 
}


.info{
    background-color: grey;
    width:83vw;
    text-align: center;
    
}

/* Titre haut de page */
.titre{
    background-color: #393838;
    height: 6%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fin Titre haut de page */

/*Projets */

.projets{
    background-color: #000000;
    display: flex;
    height: 89%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.projet{
    background-color: #454545;
    height: 30vh;
    width: 23vw;
    border-radius: 11%;

    box-shadow: 2px 0 10px #adadad;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.titreProjet{
    font-size: 40px;
}

.texteProjet{
    margin: 10px ;
    font-size: 1.4em;
    text-justify: auto;
}

.listeCompetenceProjet{
    display: flex;
    align-items: center;
}

.comptencesProjet{
    border: 4px solid #F2A83D;

    font-size: 20px;
    font-weight: 900;
    
    border-radius: 2rem;
    padding: 0rem 1rem 0rem 1rem;

    margin: 5px 5px 5px 5px;
}

.presentation{
    background-color: #454545;
    height: 65vh;
    width: 70vw;
    border-radius: 5%;

    box-shadow: 2px 0 10px #adadad;
}

.portfolioImgProjet{
    border-radius: 50%;
    object-fit: contain;
    aspect-ratio: 110/108;
}


/* Fin Projets  */

/* Footer */


.footer{
    background-color: #393838;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    position: absolute;

    /* border: solid 2px blue; */
    bottom: 0;
    height: 5%;
    width: 100%;
}


.navfooter{
    /* border: solid 2px red; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    width: 60%;
    height: 100%;

    cursor: pointer;

}   



.copyright{
    /* border: solid 2px green; */
    margin-left: 5px;
    height: 100%;
    width: 15%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}

.menu_footer{

    height: 100%;
    width: 100%;
    transition: 0.4s;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    transition: 0.3s;
}


.menu_footer:hover{
    transition: 0.3s;
    background-color: rgb(77, 74, 74);;
}

/* Fin Footer */

/* Epreuve E4 */

.MenuE4{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.ElementMenuE4{
    border: 4px solid #F2A83D;
    border-radius: 2rem;
    padding: 0rem 1rem 0rem 1rem;

    text-align: center;

    font-size: 20px;
    font-weight: 900;
}











