/* Pour régler le margin de gauche */
body{ 
    margin: 0;
}

#imgProfil{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: block;
    max-width: 110px;
    object-fit: contain;
    aspect-ratio: 110/108;
}

*{
    margin:0;
    padding: 0;
}

.align{
    background-color: red;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
    position: fixed;
    height: 100%;
}

.menu-div{
    background-color: rgb(216, 214, 214);
    box-sizing: content-box;
    width: 17vw;
    height: 100vh;
}

.menu_click{
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
}

.menu_click:hover{
    transition: 0.3s;
    background-color: rgb(196, 194, 194);
}

.menu-logo{

    margin-left: 10px;
    position: fixed;
    bottom: 0;
    padding-bottom: 5px;
    
}

.logo{
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.logo:hover{
    transform: scale(1.2);
    transition: 0.2s;
    
}

.info{
    background-color: grey;
    width:83vw;
    text-align: center;
    
}


/* Caroussel */

/* Fin Caroussel */

.titre{
    background-color: azure;
    
}

/*Projets */

.projets{
    background-color: blue;
    display: flex;
    flex-direction: row;
    
    
}

.projet1{
    background-color: green;
    
}

.projet2{
    background-color: green;
}

.projet3{
    background-color: green;
}

/* Fin Projets  */

/* Footer */


.footer{
    display: flex;

    background-color: yellow;
    position: fixed;
    bottom: 0;
    margin-left: 17vw;
    width: 83%;
    height: 5%;
}

.copyright{
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 20vw;
    
}

.menu_footer{
    margin-top: 10px;
    margin-left: 50px;
    transition: 0.3s;
}

.menu_footer:hover{
    transition: 0.3s;
    background-color: rgb(196, 194, 194);
}

/* Fin Footer */